# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
tfplan

# Lock file (KEEP if working in team)
# .terraform.lock.hcl

# Variables
*.tfvars

# Keys
*.pem
*.key

# IDE
.vscode/
.idea/

# OS Files
Thumbs.db
.DS_Store